<div class="container my-3 text-center">
  <h1>URL Shortener</h1>
  <div class="image-box p-4">
    <img style="max-height: 250px;" src="/URL-icon.png" alt="URL icon">
    <div class="my-2">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>
  <div class="result-box mx-auto">
    <h2>Success! Please use this link:</h2>
    <a href="{{ url.originalUrl}}">
      <h4>{{ url.originalUrl}}</h4>
    </a>
  </div>
  <button type="button" class="btn btn-primary btn-lg my-4">Copy</button>
</div>